# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Build folders
build/
dist/
*.egg-info/

# Artifacts / Models
artifact/
artifacts/
saved_models/
save_model/
*.pkl
*.joblib

# Logs
logs/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints

# Environment files
.env